<!DOCTYPE html>
<html>
<head>
	 <title>IdeaBox - Welcome</title>
	 <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/css/common.css">
     <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
     <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          {% if user.is_authenticated %}
            <a class="navbar-brand" href="/home">IdeaBox</a>
          {% else %}
            <a class="navbar-brand" href="/">IdeaBox</a>
          {% endif %}
        </div>
        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <!--show name-->
                    {{ user.first_name }} {{ user.last_name }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/home">Home</a></li>
                  <li><a href="/profile/{{ user.username }}">My profile</a></li>
                  <li><a href="/post_idea">Create New Post</a></li>
                  <!--show logout-->
                  <li><a href="/logout"> Log Out</a></li>
                </ul>
            </li>
            {% else %}

            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>

            {% endif %}
        </ul>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1>Welcome To IdeaBox</h1>
      <p> Create Ideas, Read Ideas, Give Constructive Criticism</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">All Ideas <b>({{ ideas|length }})</b> </a></li>
                        </ul>
                </div>

                <div class="panel-body">
                {% if ideas|length == 0 %}
                          <h3 style="color:black">
                          There are no ideas to display
                        </h3>
                {% else %}
                    {% for idea in ideas %}
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
                          <div class="well">
                            <div class="media">
                              <a class="pull-left" href="#" style="width:10%">
                                <img class="media-object" src="/static/img/idea.jpeg" style="width:100%">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading">
                                  <a href="/view_idea/{{ idea.id}}">{{ idea.title}}</a>
                                </h4>
                                  <p class="text-left"> By: <a href="/profile/{{ idea.user.username }}"> {{ idea.user.first_name}} {{idea.user.last_name}} </a></p>
                                  <div id="desc">
                                    <p >
                                    {{ idea.description|truncatechars:100}}
                                  </p>
                                  </div>

                                  <ul class="list-inline list-unstyled">
                                    <li>
                                      <i class="glyphicon glyphicon-calendar"></i>
                                        {{ idea.timestamp}}
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <span><i class="glyphicon glyphicon-comment"></i> {{idea.comments.count}} comments</span>
                                    </li>
                                    <li>|</li>

                                    <li>
                                        <a href="/view_idea/{{ idea.id}}"><button>Read more</button></a>
                                    </li>

                                  </ul>
                              </div>
                            </div>
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                  {% endif %}
                </div>

            </div>
        </div>

        <div class="col-sm-4">
          <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">All Users <b>({{ users|length }})</b></a></li>
                        </ul>
                </div>


                <div class="panel-body">
                    {% for user in users %}
                    <div class="tab-content">
                      <div class="info-block block-info clearfix">
                        <div class="square-box pull-left" style="width:30%">
                            <img class="media-object" src="/static/img/user.gif" style="width:50%">
                        </div>
                          <a href="/profile/{{ user.username }}">
                              <h5>Name: <b>{{ user.first_name}} {{user.last_name}}</b></h5>
                          </a>
                      </div>

                    </div>
                    <hr>
                    {% endfor %}
                </div>

          </div>
        </div>

      </div>
    </div>

    <hr>
    <footer>
        <p>Designed by: Kevin Tumbo</p>
        <p>Contact information: <a href="mailto:kevin.tumbo39@gmail.com">Kevin.tumbo39@gmail.com</a>.</p>
    </footer>

</body>
</html>