<!DOCTYPE html>
<html>
<head>
	<title>IdeaBox - Sign up</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/signup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
{% load crispy_forms_tags %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          {% if user.is_authenticated %}
          	<a class="navbar-brand" href="/home">IdeaBox</a>
		  {% else %}
          	<a class="navbar-brand" href="/">IdeaBox</a>
		  {% endif %}
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container" id="intro">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="/register" id="register-form-link" class="active">Register</a>
							</div>

							<div class="col-xs-6">
								<a href="/login"  id="login-form-link">Login</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
                                <form method="POST" action="" class="form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form|crispy }}
                                    </div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <hr>
    <footer>
        <p>Designed by: Kevin Tumbo</p>
        <p>Contact information: <a href="mailto:kevin.tumbo39@gmail.com">Kevin.tumbo39@gmail.com</a>.</p>
    </footer>

</body>
</html>